services:
  pytorch:
    build: .
    hostname: pytorch
    ipc: host
    network_mode: host
    working_dir: /app
    cap_add:
      - SYS_PTRACE
    devices:
      - /dev/dri
      - /dev/kfd
    environment:
      - TORCH_ROCM_AOTRITON_ENABLE_EXPERIMENTAL=1
      - RESET_VENV=${RESET_VENV:-0}
    group_add:
      - video
    security_opt:
      - seccomp=unconfined
    volumes:
      - ./comfyui/custom_nodes:/app/custom_nodes
      - ./comfyui/input:/app/input
      - ./comfyui/models:/app/models
      - ./comfyui/output:/app/output
      - ./comfyui/user:/app/user
      - ./comfyui/venv:/app/venv